# Ansible
*.retry
*.log
*.bak
*.tmp
__pycache__/
*.pyc
.vault_pass.txt
group_vars/all/vault.yml

# Docker
/db_data/
/wordpress_data/
/wordpress_db_backup.sql
/wp-content-backup.tar.gz
*.pid
docker-compose.override.yml

# WordPress
wp-config.php
# /wp-content/
# /wp-admin/
# /wp-includes/

# Dependencies
/vendor/
/node_modules/

# IDE / OS / Misc
.DS_Store
.env
.vscode/
.idea/
Thumbs.db

